* {
    margin: 0;
    padding: 0;
}
:root {
    --main-font-color: #301934;
    --main-bg-color: #e4d5b7;
    background-color: #d0d0d0;
}
a {
    text-decoration: none;
    color: var(--main-font-color);
}
a:hover {
    color: #A58BC4;
    text-decoration: underline;
}
header {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    padding: 15px 10px;
}
footer {
    background-color: var(--main-bg-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: var(--main-font-color);
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
button {
    background-color: var(--main-bg-color);
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    color: var(--main-font-color);
    border-radius: 10px;
    border: none;
    padding: 15px;
    margin-top: 15px;
    cursor: pointer;
}
button:hover {
    background-color: #A9957B;
}
#countOutput {
    color: var(--main-font-color);
    font-weight: bold;
    text-align: center;
    font-size: 5rem;
    margin-top: 150px;
}
#buttonContainer {
    text-align: center;
}
@media screen and (min-width: 800px) {
    #countOutput {
        margin-top: 225px;
    }
}